

<ion-content [fullscreen]="true" scrollY="false" scrollX="false" color="light">
  <div class="container" id="home">
    <h1>Erwan Leflot</h1>
    <h4>-</h4>
    <h1>Site Personnel</h1>
    <h3>/Music Title</h3>
    <img id="disque" (click)="playMusic()" src="/assets/img/disc-32390__340.webp"/>
  </div>
  <div class="container" id="about">
    <h1>page2</h1>
    <h4>-</h4>
    <h1>Site Personnel</h1>
    <h3>/Music Title</h3>
    <img id="disque" src="/assets/img/vinyl-record-g7c67d2e2e_1920.png"/>
  </div>
</ion-content>
<ion-fab vertical="top" horizontal="center" id="navPrev">
  <ion-fab-button size="large" (click)="prevPage()"><ion-icon name="arrow-up-circle-outline"></ion-icon></ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="center" id="navNext">
  <ion-fab-button size="large" (click)="nextPage()"><ion-icon name="arrow-down-circle-outline"></ion-icon></ion-fab-button>
</ion-fab>
